.pagination {
    display: inline-block;
    float: right; /* Aligns the pagination to the right */
  }
  
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 0.875rem; /* Smaller font size */
  }
  
  .pagination span.active {
    background-color: #67c5c3;
    color: white;
  }
  
  .pagination span:hover:not(.active) {
    background-color: #ddd;
  }
  
  .pagination span.disabled {
    pointer-events: none;
    color: #ccc;
  }
  